 
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* White background */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(13, 13, 13, 0.1); /* Subtle shadow */
    border-top: 0px solid #899dc2; /* Dark blue top border */
    font-family: 'Inter', sans-serif; /* Use Inter font for modern look */
  }
 
  /* Title Styling */
  nav .title {
    font-size: 1.5rem;
    font-weight: 700; /* Bold font for title */
    color: white; /* Dark blue text color */
  }
 
 