  <nav class="managernav">
    <a class="manager-nav-link" routerLink="/Manager/Dashboard"><h1 class="managernav-title">FINANCE HUB</h1></a>
    <div class="manager-nav-links">
      
      <div class="nav-links">
        <div class="dropdown">
          <button class="manager-btn" (click)="toggleUserDetails()">User/Regional Manager</button>
          <div class="dropdown-content user-details" *ngIf="showUserDetails">
            <p><strong>Username:</strong> {{ user.Username }}</p>
            <p><strong>Email:</strong> {{ user.Email }}</p>
            <p><strong>Mobile:</strong> {{ user.MobileNumber }}</p>
          </div>
        </div>
      </div>

      <a routerLink="/Manager/Dashboard" class="manager-nav-link">Home</a>

      <div class="dropdown">
        <a class="manager-nav-link">Saving Plan</a>
        <div class="dropdown-content">
          <a routerLink="/Manager/AddSavingPlan" class="dropdown-item">Add Saving Plan</a>
          <a routerLink="/Manager/SavingPlans" class="dropdown-item">View Saving Plan</a>
        </div>

      </div>
      <a routerLink="/Manager/ApplicationForms" class="manager-nav-link">Application Forms</a>
      <a routerLink="/Manager/Feedbacks" class="manager-nav-link">Feedback</a>
      <button class="logout-btn" (click)="confirmLogout()">Logout</button>
    </div>

    <div class="popup-overlay" *ngIf="showLogoutPopup">
      <div class="popup">
        <h3>Confirm Logout</h3>
        <p>Are you sure you want to logout?</p>
        <div class="popup-buttons">
          <button class="popup-btn confirm-btn" (click)="logout()">Yes</button>
          <button class="popup-btn cancel-btn" (click)="cancelLogout()">No</button>
        </div>
      </div>
    </div>
  </nav>
  
  