<div class="user-navbar-container">
  <h1 class="title" href="#"> Intern <span style="color: #ffc107;">⚡Connect</span></h1>
  <nav class="user-navbar">
    <button (click)="navigateTo('/home')">Home</button>
    <button (click)="navigateTo('/user/userviewinternships')">Internships</button>
    <button (click)="navigateTo('/user/userappliedinternships')">Applied Internships</button>

    <div class="dropdown">
      <button class="dropbtn">Feedback</button>
      <div class="dropdown-content">
        <a (click)="navigateTo('/user/useraddfeedback')">Post Feedback</a>
        <a (click)="navigateTo('/user/userviewfeedback')">My Feedback</a>
      </div>
    </div>

    <div class="user-info">
      Logged in as: <strong>{{ username }}</strong>
    </div>

    <button (click)="logout()" class="logout-btn">Logout</button>
  </nav>
</div>
